{{#deprecated}}
@deprecated
{{/deprecated}}
{{#required}}
@required
{{/required}}
{{#description}}
@documentation("{{{description}}}")
{{/description}}
{{#default}}
@default({{{default}}})
{{/default}}
{{#extensions}}
{{name}}({{{value}}})
{{/extensions}}