{{{opensearch_license}}}

$version: "2"
namespace OpenSearch

{{#inputs}}
@input
structure {{id}} with [{{query_id}}] {
{{#params}}
    @httpLabel
    {{> _parameter_traits }}
    {{name}}: {{id}},

{{/params}}
{{#body}}
    @httpPayload
    {{> _parameter_traits }}
    content: {{id}},
{{/body}}
}

{{/inputs}}