{{{opensearch_license}}}

$version: "2"
namespace OpenSearch

{{#inputs}}
@input
structure {{id}} with [{{query_id}}] {
{{#params}}
    @required
    @httpLabel
    {{#description}}
    @documentation("{{{description}}}")
    {{/description}}
    {{#default}}
    @default({{{default}}})
    {{/default}}
    {{#deprecated}}
    @deprecated
    {{/deprecated}}
    {{name}}: {{id}},

{{/params}}
{{#body}}
    {{#required}}
    @required
    {{/required}}
    @httpPayload
    content: {{id}},
{{/body}}
}

{{/inputs}}