{{{opensearch_license}}}

$version: "2"
namespace OpenSearch

@externalDocumentation("API Reference": "{{{api_reference}}}")
@documentation("{{{documentation}}}")

{{#operations}}
{{#deprecated}}
@deprecated
{{/deprecated}}
{{#readonly}}
@readonly
{{/readonly}}
{{#idempotent}}
@idempotent
{{/idempotent}}
@suppress(["HttpUriConflict"{{#del_body}}, "HttpMethodSemantics.UnexpectedPayload"{{/del_body}}])
{{#extensions}}
@{{name}}({{{value}}})
{{/extensions}}
@http(method: "{{method}}", uri: "{{{uri}}})
operation {{id}} {
    input: {{input_id}},
    output: {{output_id}},
}

{{/operations}}