{{{opensearch_license}}}

$version: "2"
namespace OpenSearch

@mixin
structure {{query_id}} {
{{#query_params}}

    @httpQuery("{{name}}")
    {{> _parameter_traits }}
    {{name}}: {{id}},
{{/query_params}}
}