{{> _schema_traits }}
structure {{id}}{{#mixins}} with [{{{.}}}]{{/mixins}} {
    {{#entries}}
    {{#required}}
    @required
    {{/required}}
    {{#description}}
    @documentation("{{{description}}}")
    {{/description}}
    {{key}}: {{value_id}},

    {{/entries}}
}